<article>
  <h2>{{ title }}</h2>
  <div class="text">{{ text }}</div>
  {% if tags_display is not empty %}
  <div class="tags">
    <strong>Tags</strong>
    {% for tag in tags_display %}
      {{ tag }}
    {% endfor %}
  </div>
  {% endif %}
  </div>
</article>
