{# This is the template for a item detail page. #}
<aside data-sculprit="posts three listing" class="pull-right"></aside>

<article>
  <h1>{{ title }}</h1>

  <div class="content">
    {{ content }}
  </div>

  <div class="bio">
    {{ author }} Add some additional information about
  </div>
</article>



