<!--
  This is the deafult templaet for a item detail page.
-->
<aside data-sculprit="posts three">
  This could be a sidebar to populate content with.
</aside>

<article>
<h1>{{ title }}</h1>

<div class="content">
  {{ content }}
</div>

<div class="bio">
  {{ author }} Add some additional information about
</div>



