<h1 class="header"><a href="/">{{ site_title }}</a></h1>
<p class="header">{{ site_description }}</p>
<ul>
  <li class="download">
    <a class="buttons" href="https://github.com/arthur24b6/sculprit/tarball/master">Download TAR</a>
  </li>
  <li>
    <a class="buttons github" href="https://github.com/arthur24b6/sculprit">View On GitHub</a>
  </li>
</ul>