<!-- This is the default template for the initial page. -->
<aside>

  <div class="sculprit article feature ">
    Sidebar featured item.
  </div>

  <div class="sculprit posts three">
    A listing of items.
  </div>

   <div class="sculprit posts--articles news ">
    A listing of smaller items.
  </div>

</aside>

<div class="sculprit post front">
  Here's a featured article.
</div>