{# All lists of content will be passed through this template- modifications here
will impact every output. By default content will be rendered through the teaser
template. #}
<ul class="list">

{% for item in items %}

    {% set classes = [] %}
    {% if loop.first %}{% set classes = classes|merge(["first"]) %}{% endif %}
    {% if loop.last %}{% set classes = classes|merge(["last"]) %}{% endif %}
    {% set classes = classes|merge([cycle(['odd', 'even'], loop.index0)]) %}

    <li class="{{ classes|join(" ") }}">
      {{ item }}
    </li>
{% endfor %}
</ul>
